* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clean-blue: #3daeff;
  --footer-background: lightgray;
  --primary-blue: #327cae;
  --dark-blue: #2d73a9;
  --tertiary-color: #393f3f;
  --alter-color: #b98057;
  --secondary: #fefeff;
  --white: #ffffff;
  --main-font: #000000;
  --header-h: 64px;
}

html{
    scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  width: 100%;
  font-family: "Inter", sans-serif;

}

.kaushan-script-regular {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
}

#scrollup {
  display: none;
  position: fixed;
  bottom: 3.5em;
  right: 4em;
  border-radius: 50%;
  padding: .8em .5em;
  font-size: 1em;
}

h1 {
  margin-bottom: 1em;
}

h1,
h2,
h3 {
  text-align: center;
  font-size: 2.5em;
  width: 100%;
}

.menubar {
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary);
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  box-shadow: 1px 1px 3px #3daeffaf;

  /* all divs and unordered list within .menubar including their children */
  div,
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div.menu-logo a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1em;
    color: var(--tertiary-color);
    padding: 1em 1.5em;
  }

  ul li {
    display: flex;
    list-style-type: none;

  }

  ul li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1em;
    color: var(--tertiary-color);
    padding: 1em 1.5em;
    
    &.active{
       color: var(--primary-blue);
    }

    &:hover,
    &:active {
      color: var(--primary-blue);
    }
  }

  ul li button#btnCloseSideNav{
    display: none;
    width: 100%;
    padding: 1.3em 1.5em;
    border: none;
    background-color: transparent;
    text-align: left;

    &:hover {
          color: var(--primary-blue);
          background-color: #327cae3a;
        }

        @media screen and (max-width:850px) {
          display: block;
        }
  }



  .btn-menubar {
    display: none;
    width: 3.5em;
    padding: 1em;

    &:hover {
      background-color: var(--primary-blue);
      color: var(--secondary);
    }

    span {
      display: block;
      height: 100%;
      width: 100%;
      text-align: center;
    }
  }

  .menubar-active {
    background-color: var(--dark-blue);
    color: var(--secondary);
  }

  .sideNav {
      flex-direction: column;
      justify-content: flex-start;
      position: absolute;
      right: 0;
      z-index: 1;
      top: 0;
      background-color: #ffffff;
      border-left: 1px solid var(--dark-blue);
      height: 100vh;
      width: 50%;

      li {
        width: 100%;
        text-align: center;
      }

      li a {
        width: 100%;

        &.active {
          color: var(--secondary)!important;
          background-color: var(--primary-blue)!important;
          transition: all .6s ease;
        }

        &:hover {
          color: var(--primary-blue);
          background-color: #327cae3a;
        }
      }
    }

  @media screen and (max-width: 850px) {
    .btn-menubar {
      display: flex;
    }

    .sideNav{
      display: flex;
    }

    ul{
      display: none;
    }

    
  }

  @media screen and (max-width: 480px) {
    .side-bar {
      width: 60%;
    }
  }
}

.slide-in{
      animation: slide-in 1s ease-in-out;
}


@keyframes slide-in {
  from {width: 0;}
  to {width: 50%;}
}



.hero-section {
  height: 100vh;
  width: 100%;
  scroll-snap-type: mandatory;

  @media screen and (max-width:480px) {
    height: 70vh;
  }

  .hero-img {
    height: 100%;
    position: relative;
    background-image: url("../assets/heroimg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .slogan {
      position: absolute;
      top: 100px;
      width: 100%;
      height: auto;

      div {
        background-image: url("../assets/slogan2.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 150px;
        width: 50%;
        margin-left: 1em;
      }

      @media screen and (max-width: 850px) {
        div {
          width: 80%;
        }
      }
    }

    a#btnCallUsNow {

      position: absolute;
      bottom: 5em;
      right: 50%;
      transform: translate(50%, 50%);
 
    }
  }
}

.about {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  height: min-content;
  background-color: #ffffff;
  color: var(--tertiary-color);

  @media screen and (max-width: 850px) {
    padding: 2.5em 1rem;
  }

  .articles {
    display: flex;
    height: min-content;

    .side-article {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1em;
      width: 100%;
      padding: 1.2em;

      h3 {
        font-size: 1.8em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
      }

      p {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-size: 1.2em;
        font-style: normal;
        text-wrap: wrap;
      }

      .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }
    }

    .statements {
      display: flex;
      gap: 1em;
      flex-direction: column;
      align-items: center;
      padding: 1em;
      width: 100%;

      .vision,
      .mission {
        padding: 2em;
        margin-top: 2.5em;

        h3 {
          font-size: 1.8em;
          margin-bottom: 0.5em;
        }

        p {
          font-family: "Inter", sans-serif;
          font-optical-sizing: auto;
          font-weight: 500;
          font-size: 1.2em;
          font-style: normal;
        }
      }
    }

    @media screen and (max-width: 850px) {
      flex-direction: column;

      .side-article {
        .logo {
          height: auto;

          img {
            width: 70%;
            height: 70%;
          }
        }
      }

      .statements {
        .vision,
        .mission {
          padding: 0;
        }
      }
    }

    @media screen and (max-width: 480px) {
      .side-article {
        .logo {
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}

.services {
  padding: 5em;
  background-color: var(--primary-blue);
  h1 {
    color: var(--secondary);
  }

  @media screen and (max-width: 450px) {
    padding: 2em;
  }
}

@media screen and (max-width: 350px) {
  .services {
    padding: 2em 1em;
  }
}

.service-cards {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 400px);
  grid-template-rows: repeat(2, 500px);
  gap: 4em;
  width: 100%;
  height: 100%;

  .cards {
    display: flex;
    flex-direction: column;
    background-color: #c2e5ff;
    width: 100%;
    height: 100%;
    border-radius: 5px;

    .card-image {
      width: 100%;
      height: 350px;
      display: flex;
      justify-content: center;
      align-items: center;

      .img {
        width: 80%;
        height: 80%;
        padding: 5px;
        border-radius: 5px;
        background-color: #ffffff;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          scale: 1/2;
        }
      }
    }

    .card-text {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 150px;
      border-radius: 5px;
      text-align: center;

      h4 {
        height: 100%;
        padding: 10px 15px;
        color: #ffffff;
        background-color: var(--tertiary-color);
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }

      p {
        padding: 1em;
        height: 100%;
        text-align: left;
      }
    }
  }

  .cards:hover {
    box-shadow: -2px -2px 4px #ffffff, 2px 2px 4px #ffffff, -2px 2px 4px #ffffff,
      2px -2px 4px #ffffff;
    animation: box-shadow 3s ease 2s;
  }

  @media screen and (max-width: 950px) {
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(2, 450px);
    gap: 2em;

    .cards {
      .card-image {
        width: 100%;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .card-text {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 200px;
        text-align: center;
      }
    }
  }

  @media screen and (max-width: 700px) {
    grid-template-columns: repeat(1, 350px);
    grid-template-rows: 500px;
    gap: 2em;

    .cards {
      .card-image {
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .card-text {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 200px;
        text-align: center;
      }
    }
  }

  @media screen and (max-width: 450px) {
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: 500px;
    gap: 2em;

    .cards {
      .card-image {
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .card-text {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 200px;
        text-align: center;
      }
    }
  }

  @media screen and (max-width: 350px) {
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: 450px;
    gap: 2em;

    .cards {
      .card-image {
        width: 100%;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .card-text {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 200px;
        text-align: center;
      }
    }
  }
}

.contactus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  font-size: xx-large;
  justify-items: center;
  background-color: #f1ba2e;
  background-color: var(--tertiary-color);

  padding-top: 2%;
  height: 30vh;
  width: 100%;

  p {
    color: var(--secondary);
  }

  p:nth-child(2){
    background-color: var(--dark-blue);
    padding: .5em;
    font-size: .7em;
    border-radius: 5px;
    @media screen and (max-width:850px) {
      display: none;
    }
  }

  a{
    display: none!important;
    font-size: .5em!important;
    padding: .5em .7em!important;

    @media screen and (max-width:850px) {
      display: block!important;
    }
  }
}

.btn {
      display: block;
      border-radius: 5px;
      font-size: 1.2em;
      padding: 0.5em 1em;
      width: max-content;
      background-color: var(--dark-blue);
      color: white;
      border: 1px solid transparent;
      text-decoration: none;

      @media screen and (max-width:850px) {
        font-size: 1em;
      }

      @media screen and (max-width:480px) {
        font-size: .85em;
      }

      &:hover {
        color: var(--clean-blue);
        border-color: var(--clean-blue);
        background-color: white;
      }
    }

.footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--footer-background);
  height: 40vh;
  width: 100%;

  .social-link {
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.5em;
    text-decoration: none;
    color: #000000;
    width: min-content;
    scale: 1;
    transition: scale .3s ease;

    &:hover{
      color: var(--secondary);
      scale: 1.1;
    }

    img {
      width: 1.5em;
      height: 1.5em;
    }
  }

  > div {
    display: flex;
    flex-direction: column;
    padding: 2em 1em;
    width: 50%;
  }

  .left-foot {
    .chat {
      margin-top: 1em;
    }
  }

  .mid-foot {
    padding: 0;
    width: 100%;

    iframe {
      height: 100%;
    }
  }

  .right-foot {
    align-items: end;
  }
}

.credit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  background-color: var(--footer-background);

  text-align: center;
  font-size: 0.75em;
  font-weight: 500;
  padding: 0.5em;

  p{
    font-size: 0.8em;
  }

  @media screen and (max-width:850px) {
    flex-direction: column;
  }
}

@media screen and (max-width: 850px) {
  .footer {
    flex-direction: column;
    height: 100vh;

    div {
      height: min-content;
      width: 100%;
    }

    .mid-foot {
      height: 100%;
    }

    .right-foot {
      align-items: start;
    }
  }
}

@media screen and (max-width: 480px) {
  .footer {
    flex-direction: column;
  }
}
